/* It's just variables. That's it. */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {

  /* TYPE - Imported from Figma: 
  TODO: consolidate these into things that are actually used*/
  --title-mobile-family: "Nunito";
  --title-mobile-size: 32px;
  --title-mobile-size-rem: 2rem;
  --title-mobile-weight: 800;
  --title-mobile-style: normal;
  --title-mobile-line-height: 32px;
  --title-mobile-line-height-rem: 2rem;

  --title-page-family: "Nunito";
  --title-page-size: 48px;
  --title-page-size-rem: 3rem;
  --title-page-weight: 800;
  --title-page-style: normal;
  --title-page-line-height: 68px;
  --title-page-line-height-rem: 4.25rem;

  --title-hero-family: "Nunito";
  --title-hero-size: 64px;
  --title-hero-size-rem: 4rem;
  --title-hero-weight: 800;
  --title-hero-style: normal;
  --title-hero-line-height: 68px;
  --title-hero-line-height-rem: 4.25rem;

  --title-large-card-family: "Nunito";
  --title-large-card-size: 48px;
  --title-large-card-size-rem: 3rem;
  --title-large-card-weight: 700;
  --title-large-card-style: normal;
  --title-large-card-line-height: 68px;
  --title-large-card-line-height-rem: 4.25rem;

  --title-small-card-family: "Nunito";
  --title-small-card-size: 24px;
  --title-small-card-size-rem: 1.5rem;
  --title-small-card-weight: 700;
  --title-small-card-style: normal;
  --title-small-card-line-height: 68px;
  --title-small-card-line-height-rem: 4.25rem;

  --body-text-family: "Nunito";
  --body-text-size: 16px;
  --body-text-size-rem: 1rem;
  --body-text-weight: 400;
  --body-text-style: normal;
  --body-text-line-height: 28px;
  --body-text-line-height-rem: 1.75rem;

  --caption-text-family: "Nunito";
  --caption-text-size: 12px;
  --caption-text-size-rem: 0.75rem;
  --caption-text-style: italic;

  --title-medium-card-family: "Nunito Sans";
  --title-medium-card-size: 32px;
  --title-medium-card-size-rem: 2rem;
  --title-medium-card-weight: 700;
  --title-medium-card-style: normal;
  --title-medium-card-line-height: 68px;
  --title-medium-card-line-height-rem: 4.25rem;

  /* BRAND COLORS*/
  --dark-bg: #0a0b0c;
  --brand-highlight: #3e656d;
  --brand-card-bg-hover: #141617;
  --light-text: #ffffff;
  --brand-glow: rgba(159 176 199 / 0.5);
  --brand-card-bg: #191e24;
  --teal-grey: #6d866c;
  --teal-accent: #93dab1;
  --blue-accent: #8fd9e0; /*This is actually the primary brand color...in dark mode*/
  --teal-dark: #6d866c;
  --warm-neutral: #d9c2a3;

  /* GRADIENTS */
  --background-gradient-stop-1-color: #000000;
  --background-gradient-stop-1-position: 0%;
  --background-gradient-stop-2-color: #1a2024;
  --background-gradient-stop-2-position: 100%;
  --background-gradient: linear-gradient(to bottom, var(--background-gradient-stop-1-color), var(--background-gradient-stop2-color));

  /* SHADOWS */
  --image-panel-glow: inset 0 0 8px 8px rgba(255 255 255 / 0.19);
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}