/* simpler-globals.css
    Tokens and variables. That's it.
*/

/* Base tokens */
:root{
  /* Typography */

  --font-title: "Noto Sans", sans-serif;
  --font-default: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono",
                    "Courier New", monospace;

  /* Layout tokens */
  --container-max-width: 1100px;
  --page-gutter: 1.25rem;
  --radius-sm: 4px;
  --radius-md: 8px;

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

  /* Base color sets */

  --blue-100: oklch(0.9675 0.015625 248);
  --blue-200: oklch(0.9207 0.0390625 248);
  --blue-300: oklch(0.8542 0.075 248);
  --blue-400: oklch(0.79 0.1109375 248);
  --blue-500: oklch(0.7083 0.121875 248);
  --blue-600: oklch(0.6084 0.1046875 248);
  --blue-700: oklch(0.5195 0.0890625 248);
  --blue-800: oklch(0.4092 0.0703125 248);
  --blue-900: oklch(0.2988 0.05 248);

  --purple-50: oklch(0.9877 0.0078125 310);
  --purple-100: oklch(0.9683 0.015625 310);
  --purple-200: oklch(0.9255 0.0390625 310);
  --purple-300: oklch(0.8621 0.075 310);
  --purple-400: oklch(0.8034 0.1109375 310);
  --purple-500: oklch(0.7242 0.121875 310);
  --purple-600: oklch(0.623 0.1046875 310);
  --purple-700: oklch(0.5313 0.0890625 310);
  --purple-800: oklch(0.418 0.0703125 310);
  --purple-900: oklch(0.3076 0.05 310);

  --aqua-50: oklch(0.9945 0.0015625 184);
  --aqua-100: oklch(0.9564 0.0203125 184);
  --aqua-200: oklch(0.916 0.0390625 184);
  --aqua-300: oklch(0.8462 0.075 184);
  --aqua-400: oklch(0.7773 0.1109375 184);
  --aqua-500: oklch(0.6909 0.121875 184);
  --aqua-600: oklch(0.5947 0.1046875 184);
  --aqua-700: oklch(0.5088 0.0890625 184);
  --aqua-800: oklch(0.3989 0.0703125 184);
  --aqua-900: oklch(0.2891 0.05 184);

  /* warm neutrals */
  --taupe-50: oklch(0.996 0.0015625 60);
  --taupe-100: oklch(0.9588 0.0203125 60);
  --taupe-200: oklch(0.9206 0.039 60);
  --taupe-300: oklch(0.8605 0.0313 60);
  --taupe-400: oklch(0.7882 0.025 60);
  --taupe-500: oklch(0.7059 0.021875 60);
  --taupe-600: oklch(0.5882 0.0171875 60);
  --taupe-700: oklch(0.4509 0.013125 60);
  --taupe-800: oklch(0.3215 0.009375 60);
  --taupe-900: oklch(0.1961 0.005 60);

  /* cool neutrals */
  --slate-50: oklch(0.9842 0.0034 247.86);
  --slate-100: oklch(0.9683 0.0069 247.9);
  --slate-200: oklch(0.9288 0.0126 255.51);
  --slate-300: oklch(0.8034 0.025 256.79);
  --slate-400: oklch(0.7107 0.0351 256.79);
  --slate-500: oklch(0.5544 0.0407 257.42);
  --slate-600: oklch(0.4756 0.0407 257.42);
  --slate-700: oklch(0.3342 0.0351 256.79);
  --slate-800: oklch(0.1235 0.0203 256.79);
  --slate-900: oklch(0.0471 0.0128 256.79);

  /* Core colors (dark mode) */
  --color-bg:oklch(0.1884 0.0128 248.51);
  --background-gradient: linear-gradient(to bottom, oklch(0.2549 0.0313 260.42), oklch(0.1884 0.0128 248.51));
  --color-text: var(--slate-50);
  --color-subtle: var(--slate-300);
  --color-subtler: var(--slate-400);
  --color-brand-primary: var(--blue-500);
  --color-brand-secondary: var(--purple-500);
  --color-brand-tertiary: var(--aqua-500);
  --color-glow: oklch(0.5894 0.1956 257.76 / 60%);
  --color-interactive: var(--blue-700);
  --color-interactive-hover: var(--blue-500);

  /*Color overrides*/
  --color-text-light: var(--slate-50);
  --color-text-dark: var(--taupe-900);

  --border-radius-sm: 0.125rem;
  --border-radius: 0.25rem;
  --border-radius-md: 0.375rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.75rem;
  --border-radius-2xl: 1rem;
  --border-radius-3xl: 1.5rem;
  --border-radius-full: 9999px;
  
}

/* Light mode overrides */
@media (prefers-color-scheme: light) {
  :root{
    --color-bg: oklch(1 0 0);
    --background-gradient: linear-gradient(to bottom, oklch(0.9735 0.0128 248.51), oklch(0.9735 0 248.51));
    --color-text: var(--taupe-900);       /* primary readable text */
    --color-subtle: var(--taupe-700);     /* secondary text / meta */
    --color-subtler: var(--taupe-600);     /* secondary text / meta */
    --color-glow: oklch(0.5894 0.1956 257.76 / 60%);    /* brand primary */
    --color-interactive: var(--purple-700); /*Links etc*/
    --color-interactive-hover: var(--purple-600);
  }
}

/* End of simpler-globals.css */