/*TODO: move these into the appropriate component files*/
/* Mostly just the logo tbh*/

.logo {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the logo horizontally */
  will-change: filter;
  transition: filter 300ms;
  flex-direction: column;
}

.logo:hover {
  filter: drop-shadow(0 0 1em #1f78ee99);
}

.logoGlyph {
  flex: none;
  padding-right: 1em;
}

.logoText {
  flex: auto;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .logo {
    flex-direction: row;
  }

  .logoText {
    font-size: 3rem; /* Larger font size for tablets and above */
  }
}

@media (min-width: 1024px) {
  .logoText {
    font-size: 4rem; /* Even larger font size for desktops */
  }
}
